.header{
    background-color: #212529; 
}
.nav-item{
    margin: 0 15px 0;
}
.block-item-header{
    padding: 0 10% 0;
}
.header-gioitinh{
    margin-right: 10px;
}
.vertical-dash{
    background-color: aliceblue;
    height: 15px;
    width: 2px;
    margin: 2px 0px 0px 5px;
}